absl-py==0.11.0
aiofiles==0.6.0
astor==0.8.1
beautifulsoup4==4.9.3
bert4keras==0.7.7
bs4==0.0.1
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
et-xmlfile==1.0.1
future==0.18.2
gast==0.4.0
google-pasta==0.2.0
grpcio==1.35.0
h11==0.9.0
h5py==3.1.0
httpcore==0.11.1
httptools==0.1.1
httpx==0.15.4
idna==2.10
importlib-metadata==3.4.0
itchat==1.2.32
jdcal==1.4.1
jieba==0.42.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.3
multidict==5.0.0
numpy==1.16.5
openpyxl==3.0.6
protobuf==3.15.1
PyMySQL==1.0.2
pypng==0.0.20
PyQRCode==1.2.1
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
rfc3986==1.4.0
sanic==20.9.1
scipy==1.6.1
six==1.15.0
sniffio==1.2.0
soupsieve==2.2
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
typing-extensions==3.7.4.3
ujson==4.0.2
urllib3==1.26.3
uvloop==0.15.2
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
wxpy==0.3.9.8
zipp==3.4.0
